@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 627px;
    width: 311px;

    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 21.5px;
    width: 270px;
    height: 472px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 80px;
    margin: 10px;
    margin-right: 2rem;
    border-radius: 50%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.562);
    
} 

section#redes-sociais img:hover{
    border: 2px solid #ffffff8e;
    box-sizing: border-box;
    transform: scale(1.2);
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.521);
    transition: .3s border .1s;
}